<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="FormBucket OpenSource" />
</head>
<body>

<div class="site">

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        FormBucket Support
        support@formbucket.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/formbucket/">github.com/formbucket</a><br />
        <a href="http://twitter.com/formbucket/">twitter.com/formbucket</a><br />
      </p>
    </div>

  </div>
</div>

</body>
</html>
